<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #box {width:100px; height:100px; background:red;position:absolute;}
    </style>
    <link rel="stylesheet" href="/gameByCode.css">
</head>
<body>
<button class="btn-blue" id="startGame" style="padding: 30px">START</button>
<button class="btn-blue" id="endTurn" style="padding: 30px">Add card for Player 1</button>
<button class="btn-blue" id="endTurnSec" style="padding: 30px">Add card for Player 2</button>
<div class="wrapper-game">
    <div class="game-name">
        <h1>This is Marvel battlefield</h1>
        <h2>User nickname: <span><%= login%></span></h2>
    </div>
    <div class="battle-img"></div>
    <div class="player">
        <div class="player-item">
            <h2 class="name">Player 1</h2>
            <div class="timer"></div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
        </div>
        <div class="player-item">
            <h2 class="name">Player 2</h2>
            <div class="timer"></div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
            <div class="coins">
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="container-battle">
        <div class="battle-box-left">
            <ul class="box-battle" id="FinishLeftCards">
                <li class="item" id="item-13">
                    <div class="card">

                    </div>
                </li>
                <li class="item" id="item-14">
                    <div class="card">

                    </div>
                </li>
                <li class="item" id="item-15">
                    <div class="card">

                    </div>
                </li>
                <li class="item" id="item-16">
                    <div class="card">

                    </div>
                </li>
                <li class="item" id="item-17">
                    <div class="card">

                    </div>
                </li>
                <li class="item" id="item-18">
                    <div class="card">

                    </div>
                </li>
            </ul>
        </div>

        <div class="battle-box-right">
            <ul class="box-battle" id="FinishRightCards">
                <li class="item" id="item-19">
                    <div class="card">
                    </div>
                </li>
                <li class="item" id="item-20">
                    <div class="card">
                    </div>
                </li>
                <li class="item" id="item-21">
                    <div class="card">
                    </div>
                </li>
                <li class="item" id="item-22">
                    <div class="card">
                    </div>
                </li>
                <li class="item" id="item-23">
                    <div class="card">
                    </div>
                </li>
                <li class="item" id="item-24">
                    <div class="card">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-card">
        <ul class="box-placeholder-1" id="startLeftCards">
        </ul>

        <ul class="box-placeholder-2" id="startRightCards">
        </ul>
    </div>

</div>
<script>
    let room = '<%= code%>';
    let startCnt = 0;
</script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/LeftPlayer.js" type="module"></script>
<script src="/js/RightPlayer.js" type="module"></script>
<script src="/js/stratGame.js" type="module"></script>
<script src="/js/fight.js" type="module"></script>
</body>
</html>