body{
    background-size: 100%;
}

h1{
    color: #e77489;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4vh;
}

h1.second{
    text-align: center;
    color: #1e2a4f;
}

h2{
    color: #1e2a4f;
}

a {
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: #e77489;
}

.wrapper{
    background:rgba(255,255,255,0.93);
    max-width: 60vh;
    margin:5vh auto;
    padding: 2vh;
    border-radius: 1vh;
}
.container{
    background: none;
    margin:1vh;
    text-align: center;
}

.btn-coral{
    width: 100%;
    padding: 2vh 0;
    margin-top: 4vh;
    border: none;
    background-color: #e77489;
    color: white;
    font-weight: bold;
    transition: background-color 1s;
    font-size: 2vh;
}

.btn-coral:hover{
    cursor: pointer;
    background-color: #1e2a4f;
}

.btn-blue{
    margin: 2vh auto;
    color:white;
    font-size: 2vh;
    background: #1e2a4f;
    padding: 1vh 3vh;
    border-radius: 3vh;
    border: none;
}

.btn-blue:hover{
    cursor: pointer;
    background-color: #e77489;
}

.but{
    width: 100%;
    padding: 2vh 0;
    margin-top: 4vh;
    border: 0;
    background-color: #e77489;
    color: white;
    font-weight: bold;
    transition: background-color 1s;
}

.but:hover{
    cursor: pointer;
    background-color: #1e2a4f;
}

::placeholder{
    color:#999;
    font-size: 2vh;
}

#Err{
    margin: 0 20%;
    font-size: 2vh;
    background-color: red;
    font-family: Arial,sans-serif;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
    }
    .Em input{
        font-size: 2vh;
    }
}